.details{
    width:90%;
    margin:40px auto;
    display:flex;
    gap:40px;
    align-items:center;
}

.details img{
    width:400px;
    border-radius:12px;
}

.details h1{
    margin-bottom:20px;
}

.details p{
    margin-bottom:20px;
    color:#555;
}

.details h2{
    color:#2563eb;
    margin-bottom:20px;
}

.details button{
    padding:15px 30px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}