body{

margin:0;
font-family:Arial;
background:#f5f7fb;

}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#464448;
    color:white;
    padding:20px 40px;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.nav-links a:hover{
    color:#ffd43b;
}
.cart-count{
    background:red;
    color:white;
    padding:2px ;
    border-radius:50%;
    font-size:12px;
}


.dropdown{

position:relative;

}

.dropdown-menu{

display:none;

position:absolute;

right:0;

background:white;

border-radius:10px;

box-shadow:0 10px 20px rgba(0,0,0,.2);

min-width:180px;

padding:10px 0;

}

.dropdown-menu li{

list-style:none;

}

.dropdown-menu a{

display:block;

padding:12px 20px;

color:#333;

}

.dropdown-menu a:hover{

background:#2563eb;

color:white;

}

.dropdown:hover .dropdown-menu{

display:block;

}

.profile{

display:flex;

justify-content:center;

margin-top:60px;

}

.profile-card{

background:white;

padding:40px;

border-radius:20px;

width:380px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.profile-img{

width:120px;

height:120px;

border-radius:50%;

margin-bottom:20px;

}

.profile-card h2{

margin-bottom:10px;

}

.profile-card p{

color:#666;

margin:8px 0;

}

button{

margin-top:20px;

padding:12px 30px;

border:none;

border-radius:8px;

background:#2563eb;

color:white;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#1d4ed8;

}