*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#ece1c9;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#464448;
    color:white;
    padding:20px 60px;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.nav-links a:hover{
    color:#ffd43b;
}
.cart-count{
    background:red;
    color:white;
    padding:2px ;
    border-radius:50%;
    font-size:12px;
}
.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:48px;
    color:#9e8860;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    color:#300d0d;
    margin-bottom:30px;
}

.hero button{
    padding:15px 35px;
    background:#dc0e0e;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

.hero button:hover{
    background:#1d4ed8;
}
.hero{
    height:50vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#b6bed8
    color:white;
    padding:20px;
}

.hero-content{
    max-width:700px;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    line-height:1.7;
    margin-bottom:40px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

.shop-btn,
.learn-btn{
    padding:15px 35px;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

.shop-btn{
    background:#f59e0b;
    color:white;
}

.shop-btn:hover{
    background:#d97706;
}

.learn-btn{
    background:white;
    color:#4a3362;
}

.learn-btn:hover{
    background:#f1f5f9;
}
.featured-products{
    padding:80px 60px;
    background:#ece1c9;
}
.promo-banner img{
    width: 100%;
    max-width: auto;
    height: auto;
}

.featured-products h2{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
    color:#111110;
}

.product-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.product-card{
    position: relative;
    background: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    transition: transform .3s ease, box-shadow .3s ease;
    overflow: hidden;
}

.product-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(0,0,0,.15);
}

.product-card:hover{
    transform:translateY(-8px);
}

.product-card img{
    width:180px;
    height:180px;
    object-fit:contain;
}

.product-card h3{
    margin:15px 0;
}

.price{
    color:#2563eb;
    font-size:22px;
    font-weight:bold;
}

.product-card button{
    margin-top:15px;
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    cursor:pointer;
}

.product-card button:hover{
    background:#1d4ed8;
}
.rating{
    color:#f59e0b;
    margin:8px 0;
    font-weight:bold;
}
.badge{
    position:absolute;
    top:15px;
    right:15px;
    background:#ef4444;
    color:white;
    padding:6px 12px;
    border-radius:20px;
    font-size:12px;
    font-weight:bold;
}
.categories{
    padding:80px 8%;
    background:#f8fafc;
}

.categories h2{
    text-align:center;
    font-size:40px;
    color:#111827;
}

.category-subtitle{
    text-align:center;
    color:#6b7280;
    margin:15px 0 50px;
}

.category-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.category-card{
    background:white;
    border-radius:16px;
    padding:40px 20px;
    text-align:center;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.category-card:hover{
    transform:translateY(-8px);
    background:#2563eb;
    color:white;
}

.category-card span{
    font-size:55px;
}

.category-card h3{
    margin-top:20px;
    font-size:24px;
}
.promo-banner{
    background:#ece1c9;
    color:rgb(19, 18, 18);
    padding:80px 20px;
    text-align:center;
}ece1c9

.promo-content h2{
    font-size:48px;
    margin-bottom:20px;
}

.promo-content p{
    font-size:22px;
    margin-bottom:30px;
    font-color:#1f2937;
}

.promo-content button{
    background:#f59e0b;
    color:white;
    border:none;
    padding:16px 40px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.promo-content button:hover{
    background:#d97706;
}
.reviews{
    padding:80px 8%;
    background:#ece1c9;
}

.reviews h2{
    text-align:center;
    margin-bottom:50px;
    font-size:40px;
}

.review-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.review-card{
    background:#f8fafc;
    padding:30px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.review-card p{
    font-size:17px;
    line-height:1.7;
}

.review-card h4{
    margin-top:20px;
    color:#f59e0b;
}

.review-card span{
    color:#6b7280;
}
.products-page{
    padding:80px 8%;
}

.products-page h1{
    text-align:center;
    font-size:45px;
    margin-bottom:30px;
}

.search-box{
    width:100%;
    max-width:500px;
    display:block;
    margin:0 auto 50px;
    padding:15px;
    font-size:18px;
    border-radius:8px;
    border:1px solid #ddd;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

.cart{
    width:90%;
    margin:50px auto;
}

.cart h1{
    text-align:center;
    margin-bottom:40px;
}

.cart-item{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:white;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.cart-item img{
    width:120px;
}

.quantity{
    margin-top:10px;
}

.quantity button{
    width:35px;
    height:35px;
}

.remove-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

.checkout{
    text-align:right;
    margin-top:40px;
}

.checkout-btn{
    margin-top:15px;
    background:#2563eb;
    color:white;
    padding:15px 35px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
.dropdown{
    position:relative;
}

.dropdown-menu{
    display:none;
    position:absolute;
    top:100%;
    right:0;
    background:white;
    width:180px;
    list-style:none;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
    overflow:hidden;
    z-index:9999;
}

.dropdown-menu li a{
    display:block;
    color:#333;
    padding:12px 18px;
    text-decoration:none;
}

.dropdown-menu li a:hover{
    background:#2563eb;
    color:white;
}

.dropdown:hover .dropdown-menu{
    display:block;
}